* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Muli', sans-serif;
  color: #414141;
}

.hpot {
  display: none;
}

/* Header */
header {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #e0dede;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #414141;
  /* font-family: 'Sansita Swashed', cursive; */
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  /* background-color: rgba(0,0,0, 0.9); */ /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  /* padding: 8px; */
  margin: 5rem 0;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay a:first-child {
  margin-top: 0rem;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 1rem;
  right: 35px;
  font-size: 40px;
  cursor: pointer;
}

.openbtn {
  cursor: pointer;
  font-size: 40px;
}

main {
  margin-top: 4rem;
}

.grid-section {
  margin: 3rem 0;
}

.parallax {
  display: none;
}

img {
  width: 100%;
}

.text {
  text-align: center;
  color: #f30c6c;
}

.text > * {
  padding-bottom: 1rem;
}

.text h1 {
  font-size: 3rem;
  padding-top: 2rem;
}

.text h2 {
  padding-top: 2rem;
}

.text p, ul li {
  color: #414141;
  margin-top: 1rem;
  line-height: 2;
}

button {
  padding: 10px 30px;
  background-color: #ffffff;
  color: #414141;
}

/* footer */
footer {
  margin-top: 5rem;
  padding: 7.9rem 0;
  background-color: #121212;
  color: #fff;
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
}

.back-to-top {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #121212;
  position: absolute;
  top:  -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.back-to-top i {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  opacity: 0;
  animation: up 2s infinite;
}

@keyframes up {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: translateY(-1rem);
  }
}

.footer-content {
  overflow: hidden;
}

.footer-content h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}

.footer-content .asterisk {
  margin: 2.4rem 0;
}

.footer-content-about {
  margin-bottom: 5.4rem;
}

.footer-content-about p {
  line-height: 2;
}

.social-icons {
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}

.social-icons i {
  font-size: 2rem;
  color: #fff;
  padding: 0.8rem 2rem;
  opacity: 0.5;
  transition: color .5s;
}

.social-icons i:hover, .social-icons i:focus {
  color: #c59d5f;
}

.newsletter-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.newsletter-input {
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  border-radius: .4rem;
}

.newsletter-btn {
  background-color: transparent;
  border: none;
  color: #252525;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1px .6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20.5rem;
}

/* About styles */
.about-text p {
  width: 90%;
  margin: 0 auto;
  text-align: start;
}

/* Contact styles */
form > * {
  margin: .5rem 0 .5rem 2rem;
  display: block;
}

form label {
  text-align: left;
}

form > input, textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .logo {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .overlay a {
    font-size: 36px
  }

 .closebtn {
    font-size: 60px;
    top: 20px;
    right: 45px;
  }

  .openbtn {
    font-size: 40px;
  }

  .img {
    width: 80%;
    margin: 0 auto;
  }

  .about-text p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
  }

  .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0;
  }

  .parallax {
    display: block;
    background-image: url("/images/cake-slice.png");
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .parallax-img {
    display: none;
  }

  .opposite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text img" "text img";
  }

  .info {
    grid-area: text;
  }

  .parsimony {
    grid-area: img;
  }

  .image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    margin-top: 0;
  }

  .footer-content {
    max-width: 77.5rem;
    margin: auto;
  }

  .footer-content-about {
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }

  .footer-content-divider {
    display: flex;
    justify-content: space-between;
  }

  .social-media, .newsletter-form {
    width: 100%;
    max-width: 27.3rem;
    margin: 0 1rem;
  }

  .social-icons i {
    opacity: 1;
  }

  .newsletter-btn {
    margin-left: 15.5rem;
  }

  /* Cakes */
  /* .options {
    text-align: center;
    align-items: center;
    justify-content: center;
  } */
}