@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Muli', sans-serif;
    color: #414141;
}

.hpot {
    display: none;
}

/* Header */
header {
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px #e0dede;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.logo {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: #414141;
    font-family: 'Dancing Script', cursive;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s; 
}

.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center;
    margin-top: 30px; 
}

.overlay a {
    margin: 5rem 0;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
}

.overlay a:first-child {
    margin-top: 0rem;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 1rem;
    right: 35px;
    font-size: 40px;
    cursor: pointer;
}

.openbtn {
    cursor: pointer;
    font-size: 40px;
}

main {
    margin-top: 7rem;
}

.parallax {
    display: none;
}

img {
    width: 100%;
}

.background {
    background-image: url(images/thin-diagonal-stripes-background-vector.jpg);
    background-size: cover;
    height: 70vh;
    position: relative;
    z-index: -999999;
}

.bg {
    background-color: #fff;
    position: absolute;
    top: 10%;
    right: 10%;
    left: 0;
    bottom: 10%;
    z-index: -99999;
}

.inner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.text {
    text-align: center;
}

.text h1 {
    font-size: 2rem;
    padding: 2rem 0 1rem;
    color: #f30c6c;
    font-family: 'Dancing Script', cursive;
}

.text h2 {
    padding: 2rem 0 0rem;
    color: #f30c6c;
    font-family: 'Dancing Script', cursive;
}

.text p {
    padding: 1rem 0;
    line-height: 25px;
    font-size: 15px;
}

button {
    display: inline;
    padding: 10px 30px;
    background-color: #f30c6c;
    border: none;
    border-radius: 8px;
    color: #ffffff;
}

button:hover {
    background-color: #ffffff;
    color: #f30c6c;

}

/* footer */
footer {
    padding: 4rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
}

.footer-content {
    overflow: hidden;
}

.footer-content h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.footer-content p, .asterisk {
    margin: 2rem 0;
    padding: 0 .5rem;
    color: #f30c6c;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color: #fff;
    padding: 2rem;
    transition: color .5s;
}

.social-icons i:hover, .social-icons i:focus {
    color: #f30c6c;
}

.info-container {
    padding: 1rem 3rem 3rem;
}

/* About styles */
.about-text p {
    text-align: start;
}

/* Cakes styles */
.cake ul {
    list-style: none;
}

.flavours li {
    padding: 1rem 0;
    margin: 1rem 0;
}

hr {
    width: 70%;
    margin: auto;
    color: #f8f4f4;
}

.flavours span {
    font-weight: bold;
    font-size: 16px;
}

/* Contact styles */
form > * {
    padding: 0.5rem 0;
    display: block;
}

form label {
    text-align: start;
}

form > input,
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 2rem;
}

.button {
    width: 50%;
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 8px;
    letter-spacing: 2px;
    background-color: #f30c6c;
    color: #f1f1f1;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: #f30c6c;
}

/* Media queries */
@media screen and (min-width: 768px) {
    .img {
        /* width: 50%; */
        /* height: 70vh; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    .parallax {
        display: block;
        background-image: url('/images/cake-slice.png');
        height: 60vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .parallax-img {
        display: none;
    }

    .background {
        height: 60vh;
    }
    
    .opposite {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'text img' 'text img';
    }
    
    .info {
        grid-area: text;
        margin: 0 2rem 2rem;
    }

    .fine {
        margin: 0 2rem 1rem;
    }

    .parsimony {
        grid-area: img;
    }

    .info-container {
        padding: 0;
    }

    .image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    footer {
        margin-top: 0;
    }
    
    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }
    
    .footer-content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    /* About styles */
    .baker > *{
        margin: 2rem;
    }

    .about-text p {
        width: 80%;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    /* Cake styles */
    .icing {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icing > div {
        margin: 2rem;
    }

    .icing li {
        padding: 1rem;
    }

    .flavour-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 5rem;
    }

    /* Contact page */
    .reach-out {
        width: 50%;
        margin: 5rem auto;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        font-size: 4rem;
        letter-spacing: 1px;
    }

    .overlay a {
        font-size: 36px;
    }

    .closebtn {
        font-size: 60px;
        top: 20px;
        right: 45px;
    }

    .openbtn {
        font-size: 40px;
    }

    .grid-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    .parallax {
        display: block;
        background-image: url('/images/cake-slice.png');
        height: 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .parallax-img {
        display: none;
    }

    .background {
        height: 100vh;
    }
    
    .opposite {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'text img' 'text img';
    }
    
    .info {
        grid-area: text;
        width: 70%;
        margin: auto;
    }

    .parsimony {
        grid-area: img;
    }

    .image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    footer {
        margin-top: 0;
    }
    
    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }
    
    .footer-content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    /* About styles */
    .about-text p {
        width: 80%;
        margin: 0 auto;
        font-size: 1.2rem;
    }
}
